@media (max-width: 485px) {
  /* GLOBAL */
  .container {
    padding: 84px 31px;
  }

  /* HERO SECTION */
  .menu-button {
    right: 20px;
  }

  .sidebar {
    display: none;
  }

  .hero {
    width: 100%;
  }

  .hero-content {
    margin-top: 100px;
  }

  .for-phones {
    position: absolute;
    top: 30px;
    left: 31px;
    display: block;
  }

  /* ABOUT SECTION */

  .about-img-container {
    display: none;
  }

  /* SERVİCES SECTION */

  .table-container {
    font-size: 14px;
  }

  /* OLD SCHOOL SECTION */

  .old-school-card-container {
    justify-content: center;
  }

  .card {
    width: 160px;
  }

  /* GALLERY SECTION */

  .gallery-img-container {
    grid-template-columns: 1fr;
  }

  .gallery-first {
    width: 100%;
    background: url("../images/mobile-gallery-first.jpg");
  }

  .gallery-second {
    width: 100%;
    background: url("../images/mobile-gallery-secondjpg.jpg");
  }

  .gallery-third {
    width: 100%;
    background: url("../images/mobile-gallery-fourth.jpg");
  }

  .gallery-fourth {
    width: 100%;
    background: url("../images/mobile-gallery-third.jpg");
  }

  /* CONTACT SECTION */
  .contact-container {
    padding: 0;
  }

  /* FOOTER SECTION */
  .footer-line {
    width: 40px;
    height: 0.5px;
  }

  .footer-list {
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
