@media (max-width: 485px) {
  .sidebar {
    display: none;
  }

  .hero {
    width: 100%;
  }

  .for-phones {
    position: absolute;
    top: 30px;
    left: 31px;
    display: block;
  }

  .container {
    padding: 84px 31px;
  }

  .about-img-container {
    display: none;
  }

  .table-container {
    font-size: 14px;
    width: 418px;
  }

  table {
    width: 100%;
  }

  .first-row-line {
    width: 130px;
  }

  .second-row-line {
    width: 145px;
  }

  .third-row-line {
    width: 117px;
  }

  .fourth-row-line {
    width: 82px;
  }

  .right-first-line {
    width: 120px;
  }

  .right-second-line {
    width: 160px;
  }

  .right-third-line {
    width: 75px;
  }

  .right-fourth-line {
    width: 120px;
  }

  .contact-container {
    padding: 0;
  }

  .gallery-img-container {
    grid-template-columns: 1fr;
    padding-left: 40px;
  }
}
