/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 130px;
}

/* TYPOGRAPHY */
.sidebar-link {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 0.2em;
  text-align: left;
}

.main-nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  letter-spacing: 0.1em;
  text-align: left;
}

.hero-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 0.1em;
  text-align: left;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 84.53px;
  letter-spacing: 0.05em;
  text-align: left;
}

.hero-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* HEADER */
.header {
  display: flex;
}
/* SIDEBAR */
.sidebar {
  width: 155px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 150px 0;
}

.sidebar-line {
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.sidebar-list {
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  gap: 40px;
}

.sidebar-link {
  color: #303030;
  transition: color 0.5s;
}

.sidebar-link:hover,
.sidebar-link:focus {
  color: #ff6c00;
}

/* HERO */
.hero {
  background-image: url("../images/hero-first.jpg");
  background-size: cover;
  padding-top: 40px;
  width: 100%;
  padding-left: 100px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-link {
  color: #fff;
  transition: color 0.5s;
}

.main-nav-link:hover,
.main-nav-link:focus {
  color: #ff6c00;
}

.main-nav-left-list {
  display: flex;
  gap: 40px;
}

.main-nav-right-list {
  display: flex;
  gap: 40px;
  margin-right: 55px;
}

.btn-primary {
  color: #fff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 25px;
  transition: background-color 0.5s;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ff6c00;
  color: #fff;
}

.hero-content {
  margin-top: 184px;
  width: 500px;
}
.hero-content-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-content-line {
  width: 60px;
  height: 1px;
  background-color: #9da4bd99;
  opacity: 60%;
}

.hero-subtitle {
  color: #9da4bd99;
  opacity: 60%;
  text-transform: uppercase;
}

.hero-title {
  color: #fff;
  margin: 20px 0;
}

.hero-text {
  color: #9da4bd;
}

/* ABOUT SECTION */
.about-img-container {
  display: flex;
  gap: 30px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.about-line {
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.about-heading {
  font-family: "open sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 0.1em;
  text-align: left;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 49.31px;
  letter-spacing: 0.05em;
  text-align: left;
  margin: 0;
}

.about-slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #555555;
  margin: 0;
}
.about-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #555555;
  margin: 0;
}

.about-text-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-secondary {
  color: #303030;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 25px;
  transition: background-color 0.5s;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  letter-spacing: 0.09em;
  text-align: center;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #ff6c00;
  color: #fff;
}

.about-container {
  display: flex;
  gap: 64px;
}

/* SERVICES */
.services {
  background-image: url("../images/hero-first.jpg");
  background-size: cover;
  position: relative;
  z-index: -2;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.services-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.services-line {
  width: 60px;
  height: 1px;
  background-color: #303030;
}
